<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacidad</title>
</head>
<body>
<h1> Política de Privacidad</h1>
<p>

1. Introducción
En KulturMap, nos comprometemos a proteger y respetar su privacidad. Esta Política de Privacidad explica cómo recopilamos, usamos y protegemos su información cuando utiliza nuestro sitio web dedicado a la publicación de eventos culturales del País Vasco, utilizando datos abiertos proporcionados por Open Data Euskadi.

2. Información que Recopilamos
Nuestro sitio web no recopila ni almacena datos personales de los usuarios. No solicitamos nombres, direcciones de correo electrónico ni ninguna otra información de identificación personal. Los usuarios pueden acceder y utilizar nuestra web de manera completamente anónima.

3. Cambios en esta Política de Privacidad
Nos reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento. Cualquier cambio será publicado en esta página y, si es significativo, se lo notificaremos de manera destacada en nuestro sitio web.

Esta Política de Privacidad fue actualizada por última vez el [fecha de actualización].

Al utilizar nuestro sitio web, usted acepta los términos de esta Política de Privacidad.
</p>
</body>
</html>