    <div class="row">Kultur ekintzak: {{objects.count}}</div>
    <div class="row" style="overflow-y: auto; height: 70vh;">
        <div class="row row-cols-sm-1 row-cols-md-3 row-cols-lg-5 g-4">
        {% for obj in objects %}
          <div class="col">
            {% include 'culture/card.html' %}
          </div>
        {% endfor %}
        </div>
    </div>
    <div class="row justify-content-center"> <!-- Add this row -->
        <button id="map-button" class="col-2 btn btn-primary"><i class="fa-solid fa-map-location-dot"></i></button>
    </div>
